
/**
 * Initial variables
 */

/** Colors */
$primary: #99E7A1;
$dark: #127360;
$success: #99C355;
$info: #dae2de;
$light: #F3F7F8;
$danger: #CA0049;
$warning: #E2B037;
$link: #2B663C;
$grey: #E3ECEE;
$body-family: 'Plus Jakarta Sans',sans-serif;
$title-family: 'Plus Jakarta Sans',sans-serif;
$title-weight: 400;
$body-color: $dark;

/** Sizes */
$control-border-width: 2px;


/**
 * Using Bulma
 */
 @forward "../node_modules/bulma/sass/" with (
  $primary: $primary,
  $dark: $dark,
  $success: $success,
  $info: $info,
  $light: $light,
  $warning: $warning,
  $danger: $danger,
  $grey: $grey,
  $link: $link,
  $body-family: $body-family,
  $title-family: $title-family,
  $title-weight: $title-weight,
  $control-border-width: $control-border-width,
  $body-color: $body-color,
  $cssvars-prefix: "",
);

@forward "../node_modules/bulma/sass/utilities/mixins";


/**
 * Import External Fonts
 */
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700&display=swap');


/** Setup */

body {
  background-color: $light;
}

/** helpers */

.has-cursor-pointer {
  cursor: pointer;
}

.logo-bleed {
  margin-right: 40px;
  margin-top: -30px;
}

.quality-logos {
  height: 60px;
}

.is-logo-outline {
  position: absolute; 
  bottom: -6rem;
  right: 0;
}

.is-on-front {
  position: relative;
  z-index: 8;
}

.level-to-bottom  {
  display: flex;
  align-items: flex-end;
}

.is-outlined {
  border: 1px solid $grey;
}

.is-fixed-top {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

.is-rounded {
  border-radius: var(--radius);
}

label.radio {
  margin: 5px;
  background: var(--light);
  padding: 5px 10px;
  border-radius: 4px;

  input {
    margin-right: 5px;
  }
}

.hero.has-decoration {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('./assets/images/decoration.svg');
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
    z-index: 9;
    pointer-events: none;
  }

  &.is-fullheight {
    &::before {
      background-size: contain;
    }
  }

}

.has-box-decorations {
  .box-decoration-right {
    position: absolute;
    top: -80px;
    right: -100px;
    z-index: 1;
  }

  .box-decoration-left {
    position: absolute;
    top: -80px;
    left: -100px;
    z-index: 1;
  }
}

.has-substract {
  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    height: 100px;
    width: 100%;
    pointer-events: none;
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
    z-index: 99;
    background-image: url('./assets/images/substract-light.svg');
  }
  &-light {
    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      height: 100px;
      width: 100%;
      pointer-events: none;
      background-size: cover;
      background-position: center bottom;
      background-repeat: no-repeat;
      z-index: 99;
      background-image: url('./assets/images/substract-light.svg');
    }
  }
  &-white {
    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      height: 100px;
      width: 100%;
      pointer-events: none;
      background-size: cover;
      background-position: center bottom;
      background-repeat: no-repeat;
      z-index: 99;
      background-image: url('./assets/images/substract-white.svg');
    }
  }
  &-rotated {
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      transform: rotate(180deg);
      height: 100px;
      width: 100%;
      pointer-events: none;
      background-size: cover;
      background-position: center bottom;
      background-repeat: no-repeat;
      z-index: 99;
      background-image: url('./assets/images/substract-grey.svg');
      transform: rotate(180deg);
    }
  }
}
